/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Legend
- Typography
- Base Styles
- General Styles
- Grid
- Clearing
- Carousel
- Navigation Menu
- About Styles
- Product Styles
- Project Styles
- Blog Styles
*/

/* Legend
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Primary Text: #004056 */


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* San Francisco Font*/
@font-face {
    font-family: 'san-francisco';
    src: url('../fonts/sf/SF-UI-Text-Regular.otf');
    font-weight: normal;
}

@font-face {
    font-family: 'san-francisco';
    src: url('../fonts/sf/SF-UI-Text-Ultrathin.otf');
    font-weight: 100;
}

@font-face {
    font-family: 'san-francisco';
    src: url('../fonts/sf/SF-UI-Text-Light.otf');
    font-weight: 200;
}

@font-face {
    font-family: 'san-francisco';
    src: url('../fonts/sf/SF-UI-Text-Regular.otf');
    font-weight: 300;
}

@font-face {
    font-family: 'san-francisco';
    src: url('../fonts/sf/SF-UI-Text-Medium.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'san-francisco';
    src: url('../fonts/sf/SF-UI-Text-heavy.otf');
    font-weight: 500;
}

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html, body {
  font-size: 20;
    margin: 0;
    padding: 0;
    background-image: url('../assets/bg-new.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body {
    font-family: 'san-francisco' !important;
    font-weight: 100;
    color: #FAFAFA;
    height: 100%;
    width: 100%;
    color: #004056;
}

a {
    text-decoration: none;
    color: #004056;
}

h1 { font-weight: 200; }

i.fa {
  font-size: 2.5rem;
}

.contact.link {
  padding-left: 2.5rem;
}

.shadow:hover {
  transition: 0.25s;
  box-shadow: 1.125px 1.125px 10px #000;
}

.paragraph {
  font-weight: 300;
}

.margin-standard {
  margin-right: calc(5rem - 4%);
}

/* General Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
    position: relative;
    height: 100%;
    /*max-height: 100vh;*/
    width: 100%;
    padding: 5% 0 0 5%;
    /*background-color: rgba(0, 0, 0, 0.9);  Remove alpha when coming soon is gone */
}

.card {
  transition: 0.25s;
  background-color: rgba(255, 255, 255, .75);
  border-radius: 6px;
  box-sizing: border-box;
  padding: 1.5rem;
  margin-bottom: 2.5rem;
  margin-right: 5rem;
  line-height: 1.5;
  letter-spacing: .01rem;
  font-size: 1.5rem;
}

.card.shadow:hover {
  background-color: rgba(255, 255, 255, 1);
}

.border {
  /*border-top: solid 4px #FFFFCB;*/
  border-top: solid 4px #943C38;
}

.card-simple {
  background-color: rgba(255, 255, 255, .75);
  border-radius: 6px;
  box-sizing: border-box;
  padding: 1.5rem;
  /*margin-right: 5%;*/
}

.content-padding {
  box-sizing: border-box;
  padding-right: 4%;
}

#mainContent {
  height: 100vh;
}

/*.title {
  color: #FFFFCB;
}*/
.title {
  display: block;
  box-sizing: border-box;
  margin: 0;
  font-weight: 400;
}
/* Importance */
.title.minor     { color: grey }
/* Styles */
.title.bold      { font-weight: 500 }
/* Sizes */
.title.large     { font-size: 8rem }
.title.medium    { font-size: 4rem }
.title.med-sml   { font-size: 3rem }
.title.small     { font-size: 2rem }
.title.x-sml     { font-size: 1.5rem }
.title > i       { font-size: 2rem }

.splash          { font-weight: 200 }
.splash.red      { color: #943C38 }

.text            { font-weight: 200 }
/* Importance */
.text.minor      { color: grey }
/* Sizes */
.text.large      { font-size: 4rem }
.text.lg-med     { font-size: 3rem }
.text.medium     { font-size: 2rem }
.text.med-sml    { font-size: 1.5rem }
.text.small      { font-size: 1rem }

.context .text {
  margin-top: 0.5rem;
  line-height: 2rem;
}

.margin-standard { margin-top: 1rem }

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
 }

.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0;
  }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container { width: 80%; }
  .column,
  .columns { margin-left: 4%; }
  .column:first-child,
  .columns:first-child { margin-left: 0; }
}

/* Columns with gutters between each other */
.one.column,
.one.columns                    { width: 4.66666666667%; }
.two.columns                    { width: 13.3333333333%; }
.three.columns                  { width: 22%;            }
.four.columns                   { width: 30.6666666667%; }
.five.columns                   { width: 39.3333333333%; }
.six.columns                    { width: 48%;            }
.seven.columns                  { width: 56.6666666667%; }
.eight.columns                  { width: 65.3333333333%; }
.nine.columns                   { width: 74.0%;          }
.ten.columns                    { width: 82.6666666667%; }
.eleven.columns                 { width: 91.3333333333%; }
.twelve.columns                 { width: 100%; margin-left: 0; }

/* Offsets */
.offset-by-one.column,
.offset-by-one.columns          { margin-left: 8.66666666667%; }
.offset-by-two.column,
.offset-by-two.columns          { margin-left: 17.3333333333%; }
.offset-by-three.column,
.offset-by-three.columns        { margin-left: 26%;            }
.offset-by-four.column,
.offset-by-four.columns         { margin-left: 34.6666666667%; }
.offset-by-five.column,
.offset-by-five.columns         { margin-left: 43.3333333333%; }
.offset-by-six.column,
.offset-by-six.columns          { margin-left: 52%;            }
.offset-by-seven.column,
.offset-by-seven.columns        { margin-left: 60.6666666667%; }
.offset-by-eight.column,
.offset-by-eight.columns        { margin-left: 69.3333333333%; }
.offset-by-nine.column,
.offset-by-nine.columns         { margin-left: 78.0%;          }
.offset-by-ten.column,
.offset-by-ten.columns          { margin-left: 86.6666666667%; }
.offset-by-eleven.column,
.offset-by-eleven.columns       { margin-left: 95.3333333333%; }

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }

/* Carousel
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.carousel {
    overflow: auto;
    white-space:nowrap;
}

.carousel > * {
  background-color: rgba(255, 253, 245, .75);
  min-height: 50px;
  display:inline-block;
  float: none;
}

/* Navigation Menu
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Desktop Navigation */
.nav {
  position: fixed;
  z-index: 10;
  height: 100vh;
  background-color: rgba(255, 255, 255, .75);
  border-radius: 0 6px 6px 0;
  /*color: #44696C;*/
  /*background: linear-gradient(rgba(255, 216, 155, .5), rgba(25, 84, 123, .5));*/
}

.nav > .name {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 2.5em;
  font-weight: 400;
  /*color: #44696C;*/
}

.nav-items {
  position: absolute;
  width: auto;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.nav > .nav-items a {
  font-weight: 200;
  /*box-sizing: border-box;*/
  display: block;
  float: left;
  padding: 10% 5%;
  font-size: 1.5em;
  transition: 0.1s;
}

.nav > .nav-items a:hover {
  /*border-left: solid 4px #004056; For fancy side bar */
  color: #943C38;
  transition: 0.1s;
}

/* MOBILE NAV PLACE INTO A MEDIA QUERY SO THIS ONLY SHOWS UP WHEN ON MOBILE*/
.nav-mobile-button {
  display: none;
  color: black;
  z-index: 1;
  font-size:30px;
  cursor:pointer;
  position: fixed;
  right: 10%;
}

.nav-mobile {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  /*background: linear-gradient(rgba(255, 216, 155, 0.9), rgba(25, 84, 123, 0.9));*/
  background-color: rgba(255, 253, 245, .75);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align:center;
}

.nav-mobile a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 45px;
    display: block;
    transition: 0.444ms
}

.nav-mobile a:hover{
    color: #f1f1f1;
}

.nav-mobile .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


.nav-items-mobile {
    margin-top: 30%;
}

@media only screen  and (min-device-width: 320px) and (max-device-width: 480px) {
    .nav-mobile { padding-top: 15px; }

    .nav-mobile a { font-size: 50px; }

    .nav-mobile-button { display: block; }

    .nav { display: none; }

    .page-content {
        width: 100%;
        left: 0;
    }

    .project-card {
        width: calc(100% - 5%);
        height: calc(50% - 5%)
    }
}

/* About Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Product Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.product {
  background-color: rgba(255, 253, 245, .75);
  border-radius: 6px;
  box-sizing: border-box;
  padding: .5%;
}

.products > * { margin-top: 1rem }

/*.product > img {
  width: 25%;
  height: auto;
  border-radius: 6px;
}*/
.icon, img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.product > p {
  hyphens: auto;
  word-wrap: break-word;
}

/* Project Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.project-card-container {
    position: absolute;
    height: 100%;
    width: 100%;
    clear: both;

}

.project-card {
    position: relative;
    float: left;
    width: calc(50% - 5%);
    height: calc(33.33% - 5%);
    margin: 3%;
    margin-bottom: 0%;
    margin-right: 0%;
    background-color: rgb(200, 200, 200);
    transition: 400ms;
}

.project-card:hover {
    background-color: black;
}

/* Blog Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#blog .row {
  padding: 0 4% 0 0;
}

#blog ul {
  list-style: none;
  padding: 0;
}

#blog ul h3#date {
  letter-spacing: 1px;
}

#blog ul h3 {
  display: inline-block;
  font-weight: 300;
}

#blog ul > li > h3:first-child {
  /*margin-right: 4%;*/
}
