header, main, footer {
    padding-left: 240px;
  }

  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
  }

/*waves for button click */
.waves-effect.waves-indigo .waves-ripple {
     /* The alpha value allows the text and background color
     of the button to still show through. */
      background-color: rgba(121, 85, 72, 0.65);
    }

/* slider for first item in body */
.slider .indicators .indicator-item {
  background-color: #666666;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.slider .indicators .indicator-item.active {
  background-color: #ffffff;
}

.slider .indicators {
  bottom: 60px;
  z-index: 100;
  /* text-align: left; */
}

/* lion image */
.lion {
    opacity: 1.0;
    filter: alpha(opacity=40);
}

.lion:hover {
    opacity: 0.4;
    filter: alpha(opacity=100);
}

/* sticky footer */
 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  main ul p a {
    color: #f57f17;
  }