.dark-primary {
	background-color: #FFA000
}

.primary {
	background-color: #FFC107
}

.light-primary {
	background-color: #FFECB3
}

.text-icon-color {
	background-color: #212121
}

.accent-color {
	background-color: #536DFE
}

.secondary-text {
	background-color: #727272
}

.divider-color {
	background-color: #B6B6B6
}
