/* yellow: #f9a825 */
/* blue: #0277BD */

/*-----------------------------------*/
/* SAN FRANCISCO FONT */
/*-----------------------------------*/
@font-face {
    font-family: 'san-francisco';
    src: url('../fonts/sf/SF-UI-Text-Regular.otf');
    font-weight: normal;
}

@font-face {
    font-family: 'san-francisco';
    src: url('../fonts/sf/SF-UI-Text-Ultrathin.otf');
    font-weight: 100;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'san-francisco' !important;
    font-weight: 300;
    color: #FAFAFA;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    color: #FAFAFA;
}

/* Grid System */
.container {
    width: 100%;
}

.col-1 {
    position: relative;
    margin: 0%;
    height: 300px;
    width: 8.33%;
    float: left;
    background-color: black;
}

.col-2 {
    position: relative;
    margin: 0%;
    height: 300px;
    width: 16.66%;
    float: left;
    background-color: black;
}

.col-3 {
    position: relative;
    margin: 0%;
    height: 300px;
    width: 25%;
    float: left;
    background-color: black;
}

.col-4 {
    position: relative;
    margin: 0%;
    height: 300px;
    width: 33.33%;
    float: left;
    background-color: black;
}

.col-5 {
    position: relative;
    margin: 0%;
    height: 300px;
    width: 41.66%;
    float: left;
    background-color: black;
}

.col-6 {
    position: relative;
    margin: 0%;
    height: 300px;
    width: 50%;
    float: left;
    background-color: black;
}

.col-7 {
    position: relative;
    margin: 0%;
    height: 300px;
    width: 58.33%;
    float: left;
    background-color: black;
}

.col-8 {
    position: relative;
    margin: 0%;
    height: 300px;
    width: 66.66%;
    float: left;
    background-color: black;
}

.col-9 {
    position: relative;
    margin: 0%;
    height: 300px;
    width: 75%;
    float: left;
}

.col-10 {
    position: relative;
    margin: 0%;
    height: 300px;
    width: 83.33%;
    float: left;
    background-color: black;
}

.col-11 {
    position: relative;
    margin: 0%;
    height: 300px;
    width: 91.66%;
    float: left;
    background-color: black;
}

.col-12 {
    position: relative;
    margin: 0%;
    height: 300px;
    width: 100%;
    float: left;
    background-color: black;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

/*-----------------------------------*/
/* NAVIGATION MENU */
/*-----------------------------------*/
.nav {
    height: 100vh;
    background: linear-gradient(#ffd89b, #19547b);
    /*position: fixed;
    top: 0;
    left: 0;*/
    /*margin: 1%;*/
}

.nav-header {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: linear-gradient(#ffd89b, #19547b);
    color: black;
    overflow: hidden;
}

.name {
    position: relative;
    top: 8.33%;
    margin-left: 50%;
    margin-right: 50%;
    border-width: 100px;
    border-color: black;
    /*transform: translate(0%, -50%);*/
    /*margin: 0%;*/
}

/* MOBILE NAV */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(255, 216, 155, 0.99), rgba(25, 84, 123, 0.9));
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 45px;
    color: rgb(0,0,0);
    display: block;
    transition: 0.3s

}

.sidenav a:hover{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openNavMobile {
    display: none;
    color: black;
    z-index: 1;
    font-size:30px;
    cursor:pointer;
    position: fixed;
    left: 2.5%;
}

/* END */

.page-content {
    height: 100vh;
    overflow: scroll;
}

.coming-soon {
    position: fixed;
    font-size: 50pt;
    bottom: 50%;
    right: 20%;
    /*transform: translate(-50%, -50%);*/
    color: black;
}

.content-about {
    position: relative;
    height: 100%;
    width: 100%;
    /*background-color: rgba(0, 0, 0, 0.9);  Remove alpha when coming soon is gone */
}

.content-projects {
    position: relative;
    height: 100%;
    width: 100%;
    /*background-color: rgba(0, 0, 0, 0.9);  Remove alpha when coming soon is gone */
}

.very-soon {
    position: absolute;
    font-size: 50pt;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}
/*-----------------------------------*/
/* END */
/*-----------------------------------*/

/*-----------------------------------*/
/* MOBILE STYLES */
/*-----------------------------------*/

@media only screen  and (min-device-width: 320px) and (max-device-width: 480px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }

    .openNavMobile {
        display: block;
    }

    .nav {
        /*visibility: hidden;*/
        display: none;
    }

    .page-content {
        width: 100%;
    }
}
