.dark-primary {
	background-color: #FBC02D
}

.dark-primary-text {
	color: #FBC02D
}

.primary {
	background-color: #FFE100
}

.primary-text {
	color: #FFEB3B
}

.light-primary {
	background-color: #FFF9C4
}

.text-icon-color {
	color: #212121
}

.accent-color {
	background-color: #6495ED
}

.accent-color-text {
	color: #6495ED
}

.secondary-text {
	color: #727272
}

.divider-color {
	background-color: #B6B6B6
}

.off-white {
	background-color: #f2f2f2
}

.blue-dark {
	background-color: #264d73;
}

.yellow-dark {
	background-color: #f9a825 !important;
}

.yellow-dark-text {
	color: #f9a825;
}

.content-outer {
	position: absolute;
	clear: both;
}

.content-inner {
	position: relative;
	clear: both;
	padding-top: 30px;
	padding-bottom: 175px;
}

.content-image {
	position: relative;
	width: 100%;
}

.content-img-text {
	position: absolute;
	width: 100%;
}

.content-footer {
	position: relative;
	clear: both;
	padding-top: 30px;
}

.blur {
	filter: blur(5px);
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
}

.off-white-to-blue {
	background: linear-gradient(#f2f2f2 ,#0d47a1)
}

.opacity {
	opacity: .4
}

//footer details
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}
