<template name="signUp">

    {{#if currentUser}}
        {{> signedInHeader}}
    {{else}}
        {{> notSignedInHeader}}
    {{/if}}

    <main>

        <!-- Register title -->
         <div class="card blue-grey darken-4 hoverable">
             <div class="card-content">
                 <p class="white-text" style="font-size: 43px; font-weight: 200">Sign Up</p>
             </div>
         </div>

         <!-- Form for getting the user (ADMIN) to sign up -->
         <div class="card blue-grey darken-4 hoverable">
             <div class="card-content">
                 <span class="card-title activator white-text row">
                     <form class="col s12">
                         <div class="row">
                             <div class="input-field col s6" style="margin-top: 30px">
                                 <input id="first_name" type="text" class="validate">
                                 <label for="first_name">First Name</label>
                             </div>
                             <div class="input-field col s6" style="margin-top: 30px">
                                 <input id="last_name" type="text" class="validate">
                                 <label for="last_name">Last Name</label>
                             </div>
                         </div>
                         <div class="row">
                             <div class="input-field col s12">
                                 <input id="my_id" type="text" class="validate">
                                 <label for="myid">Student ID</label>
                             </div>
                         </div>
                         <div class="row">
                             <div class="input-field col s12">
                                 <input id="usersPassword" type="password" class="validate">
                                 <label for="usersPassword">Password</label>
                             </div>
                         </div>
                         <div class="row">
                             <div class="input-field col s12">
                                 <input id="my_email" type="email" class="validate">
                                 <label for="my_email">Email</label>
                             </div>
                         </div>

                         <!-- Submit Button for the form -->
                         <button class="btn waves-effect teal waves-black" style="margin-left: 11px; font-weight: 300; font-size: 15px" type="submit" value="submit" name="signup" id="sign_up_submit">Submit
                            <i class="material-icons right">send</i>
                         </button>

                     </form>
                 </span>
             </div>
         </div>
     </main>

    <!-- You guessed it; Footer. -->
    {{> footer}}
</template>