<template name = 'notSignedInHeader'>
    <header>
        <!-- SideBar, SlideOut, NavigationBar -->
        <!-- NavBar -->
        <nav>
            <div class="nav-wrapper blue-grey darken-4">
                <a href="/landing" class="brand-logo center" style="font-weight: 200">AskAway</a>
                <ul id="slide-out" class="side-nav blue-grey darken-3">
                    <li style="height: 175px">
                        <a href="/" class="white-text">
                            <!-- <img src="#" alt="#"/> -->
                        </a>
                    </li>

                    <li class="divider"></li>

                    <li class="bold">
                        <div class="collapsible-header" style="padding: 0%; margin: 0%">
                            <a href="/aboutUs" class="waves-effect waves-teal white-text">About Us</a>
                        </div>
                    </li>

                    <li class="divider"></li>

                    <li class="bold">
                        <div class="collapsible-header" style="padding: 0%; margin: 0%">
                            <a href="/logIn" class="waves-effect waves-teal white-text">Log In</a>
                        </div>
                    </li>

                    <li class="divider"></li>

                    <li class="bold">
                        <div class="collapsible-header" style="padding: 0%; margin: 0%">
                            <a href="/signUp" class="waves-effect waves-teal white-text">Enroll</a>
                        </div>
                    </li>

                                     
                </ul>
                <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i style="margin-left: 13px" class="mdi-navigation-menu"></i></a>
            </div>
        </nav>
    </header>
</template>