<template name = 'signedInHeader'>
      <header>
      <!-- SideBar, SlideOut, NavigationBar -->
      <!-- NavBar -->
      <nav>
                        <div class="nav-wrapper blue-grey darken-4">
                              <a href="#" class="brand-logo center" style="font-weight: 200">AskAway</a>
                              <ul id="slide-out" class="side-nav blue-grey darken-3">
                                    <li style="height: 175px">
                                          <a href="/home" class="white-text">
                                                <!-- <img src="#" alt="#"/> --> Future Logo ;)
                                          </a>
                                    </li>

                                    <li class="divider"></li>

                                    <li class="bold">
                                          <div class="collapsible-header" style="padding: 0%; margin: 0%">
                                                <a href="/home" class="waves-effect waves-teal white-text">Feed</a>
                                          </div>
                                    </li>

                                    <li class="divider"></li>

                                    <li class="bold">
                                          <div class="collapsible-header" style="padding: 0%; margin: 0%">
                                                <a href="/departmentOverview" class="waves-effect waves-teal white-text">Post</a>
                                          </div>
                                    </li>

                                    <li class="divider"></li>

                                    <li class="bold">
                                          <div class="collapsible-header" style="padding: 0%; margin: 0%">
                                                <a class="waves-effect waves-teal white-text" id="logout">Log Out</a>
                                          </div>
                                    </li>

                                    
                              </ul>
                                <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i style="margin-left: 13px" class="mdi-navigation-menu"></i></a>
                        </div>
                  </nav>
    </header>
</template>